header {
  margin-top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.65% 0 1.65%;
  width: 100%;
  height: 10%;
  background-color: rgb(36, 35, 35);
  z-index: 1000;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  color: rgb(199, 199, 199);
}

button {
  cursor: pointer;
  margin: 0;
  padding: 5px;
  transition: 0.5s;
}

button:hover {
  color: rgb(122, 45, 194);
  background-color: rgb(56, 55, 55);
  font-size: 155%;
}

button:active {
  color: rgb(152, 79, 219);
  background-color: rgb(88, 87, 87);
  font-size: 160%;
}

.Navigation button:hover {
  font-size: 105%;
}

.Navigation button:active {
  font-size: 110%;
}

@media only screen and (min-width: 1800px) {
  li {
    font-size: 140%;
  }
}