.experienceSection article {
    background-color: #7a2dc2;
    border-radius: 20px;
    width: 70vw;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 8vw;
    margin: 1vw 1vw 0 1vw;
    z-index: 55;
    transition: 0.5s;
}
.experienceSection article:hover {
    background-color: rgb(39, 38, 38);
    border: 2px solid rgb(122, 45, 194);
}
.experienceSection article:active {
    background-color: rgba(71, 69, 69, 0.418);
    border: 2px solid rgb(126, 15, 230);
}

.slidedown {
    z-index: 2;
    width: 70vw;
    height: auto;
    margin-top: -1.6vw;
    padding: 1.8vw;
    background-color: rgb(39, 38, 38);
    border: 2px solid rgb(122, 45, 194);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.slidedown p{
    color: rgb(199, 199, 199);
    font-size: 1.4vw;
}