.experienceSection article {
    background-color: rgb(122, 45, 194);
    border-radius: 20px;
    width: 60%;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 90px;
    margin: 10px 10px 0 10px;
    z-index: 55;
    transition: 0.5s;
}

.experienceSection article:hover {
    background-color: rgb(39, 38, 38);
    border: 1px solid rgb(122, 45, 194);
    font-size: 120%;
}

.slidedown {
    display: none;
    z-index: 2;
    width: 60%;
    height: auto;
    margin-top: -20px;
    padding: 20px;
    background-color: rgb(39, 38, 38);
    border: 1px solid rgb(122, 45, 194);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.slidedown p{
    text-align: left;
    color: rgb(199, 199, 199);
}