@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Calibri, Arial, Helvetica, sans-serif;
  background-color: rgb(39, 38, 38);
}

h1 {
  text-align: center;
  color: white;
  font-size: 200%;
  padding: 1.6%;
  z-index: 2;
}

main {
  padding-top: 4%;
}

.introSection {
  width: 100%;
  height: 700px;
}

.backgroundFigures {
  position: absolute;
  background-color: rgb(122, 45, 194);
  border-radius: 50%;
  z-index: 3;
}

.slidingRightAnimation {
  opacity: 0;
  transform: translateX(700px);
  animation: slideInFromRight 0.6s ease-out forwards;
}

.slidingRightAnimationDelay {
  opacity: 0;
  transform: translateX(700px);
  animation: slideInFromRight 1s ease-out forwards;
}

@keyframes slideInFromRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slidingLeftAnimation {
  opacity: 0;
  transform: translateX(-700px);
  animation: slideInFromLeft 0.8s ease-out forwards;
}

.slidingLeftAnimationDelay {
  opacity: 0;
  transform: translateX(-700px);
  animation: slideInFromLeft 1.2s ease-out forwards;
}

@keyframes slideInFromLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slidingLeftAnimationDelay {
  opacity: 0;
  transform: translateX(-700px);
  animation: slideInFromLeft 1.2s ease-out forwards;
}

.backgroundTextArea {
  background-color: rgb(39, 38, 38);
  border: 1px solid rgb(122, 45, 194);
  width: 31%;
  height: 70%;
  z-index: 2;
}

.backgroundTextArea p{
  color: rgb(199, 199, 199);
  text-align: center;
  margin: 2% 5% 5% 5%;
}

.slideInFromBottom {
  opacity: 0;
  transform: translateY(100px);
  animation: slideInFromBottom 1.2s ease-out forwards;
}

@keyframes slideInFromBottom {
  to {
    opacity: 1;
    transform: translateY(0);
    transform: rotate(0);
  }
}

.below {
  z-index: 1;
}

.veryBig {
  background-color: rgb(199, 199, 199);
  height: 87%;
  width: 38.5%;
}

.big {
  height: 54.5%;
  width: 23.7%;
}

.medium {
  height: 18%;
  width: 8%;
}

.small {
  height: 11%;
  width: 4.8%;
}

.verySmall {
  height: 5.4%;
  width: 2.4%;
}

.projectSection {
  display: flex;
  justify-content: center;
  height: auto;
  margin-top: 10px;
  margin-bottom: 70px;
  width: 100%;
  gap: 50px;
  flex-wrap: wrap;
}

.experienceSection {
  padding: 20px;
  flex-direction: column;
  display: flex;
  align-items: center;
  height: auto;
}

/* For larger screens */

@media only screen and (min-width: 1800px) {
  .veryBig {
    height: 81%;
  } 
  .backgroundTextArea {
    height: 64%;
  }
  .backgroundTextArea p{
    font-size: 152%;
    margin: 5% 6% 6% 6%;
  }
  h1 {
    font-size: 250%;
  }
  .introSection {
    width: 100%;
    height: 1000px;
  }
  .big {
    height: 50.5%;
  }
  .medium {
    height: 17%;
  }
  .small {
    height: 10%;
  }
  .verySmall {
    height: 5%;
  }
}