@import "tailwindcss";

html, body{
  background-color: #272626;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  font-family: Calibri, Arial, Helvetica, sans-serif;
}

@keyframes headerSlidingDown{
  0%   {top:-100vw;}
  50%   {top:-10vw;}
  100% {top:0px;}
}

.blackscreen{
  background-color: black;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  animation-name: blackscreenAppearDisappear;
  animation-duration: 2s;
  z-index: 9999;
}

@keyframes blackscreenAppearDisappear{
  0%   {
    display: none;
    opacity: 0;
  }
  50%   {
    display: block;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}