footer {
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
  height: 16vw;
  background-color: rgb(36, 35, 35);
  border-top: 1px solid rgb(122, 45, 194);
}

.YearSign {
  text-align: center;
  color: rgb(199, 199, 199);
  font-size: 1.1vw;
}

.contact {
  height: 80%;
  width: 26vw;
  padding: 1vw;
  color: rgb(199, 199, 199);
}

.contact h1{
  font-size: 2.5vw;
  text-align: left;
  margin: 0;
  padding: 0;
  color: white;
}

.contact p{
  font-size: 1.1vw;
}

.contact a{
  transition: 0.5s;
}

.contact a:hover{
  color: rgb(126, 125, 125);
}